body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
}

#shortcut-info {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;

    height: 200px;
    width: 600px;
}

.keyboard {
    display: grid;
    gap: 3px;
    margin-bottom: 20px;
}

#functionKeys {
    grid-template-columns: repeat(52, 1fr);
    width: 520px;
    margin-right: 60px;
}

#letterKeys {
    width: 580px;
    grid-template-columns: repeat(58, 1fr);
}

#arrowKeys {
    grid-template-columns: repeat(3, 1fr);
    width: 113px;
    grid-template-areas:
        ".         ArrowUp   .         "
        "ArrowLeft ArrowDown ArrowRight";
}
#ArrowUp {
    grid-area: ArrowUp;
}
#ArrowLeft {
    grid-area: ArrowLeft;
}
#ArrowDown {
    grid-area: ArrowDown;
}
#ArrowRight {
    grid-area: ArrowRight;
}

keyboard-key {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    height: 25px;

    grid-column: span 4;

    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;

    transition: background-color 0.2s;

    font-size: 1.2rem;
}

keyboard-key:hover {
    background-color: white;
}

#Backspace {
    grid-column: span 6;
}
#Tab {
    grid-column: span 6;
}
#Enter {
    grid-column: 56 / span 3;
    grid-row: 2 / 4;
}
#CapsLock {
    grid-column: span 7;
}
#ShiftLeft {
    grid-column: span 5;
}
#ShiftRight {
    grid-column: span 9;
}
#MetaLeft {
    grid-column: span 5;
}
#Space {
    grid-column: span 36;
}
#MetaRight {
    grid-column: span 5;
}
