{% block navbar %}
<nav>
    <h1 <!--hx-get="{{ url_for('home') }}" hx-target="html"--> Shorty</h1>
    <ul>
        <li>
            <a href="#tools-section" class="link-button link-button-primary" style="cursor: pointer"
                >Shortcuts</a
            >
        </li>
        <li>
            <a href="#footer" class="link-button">Say thanks ♥️</a>
        </li>
        <li>
            <a href="#faqs-section" class="link-button">FAQs</a>
        </li>
    </ul>
</nav>
{% endblock %}
